name: PHP Composer

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Setup PHP with PECL extension
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Cache dependencies
      uses: actions/cache@v5
      with:
        path: vendor
        key: composer-${{ hashFiles('composer.lock') }}

    - name: Install dependencies
      run: composer install --no-progress --no-suggest

    - name: Run PHPStan
      run: ./vendor/bin/phpstan analyse src --level 8
